@import url(http://fonts.googleapis.com/css?family=Pacifico);

header {
    font-size: 75px;
}

#game-board img {
    width: 25%;
    height: 25%;
    padding: 5px;
    box-sizing: border-box;
}

h1 {
    margin-left: 10px;
    font-size: 50px;
    font-weight: 500;
    color: #241D00;
    text-shadow: 3px 3px #FFFFFF;
    box-sizing: border-box;
}

p {
    margin-left: 10px;
}

body {
    background: url('../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #241D00;
    text-shadow: 1px 1px #FFFFFF;
    font-family: 'Pacifico', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-left: 10px;
}

.col-md-3 {
    color: #FFFFFF;
    text-shadow: 2px 2px #241D00;
}

#new-game {
    text-shadow: 1.5px 1.5px #FFFFFF;
    background-color: inherit;
    border-color: #A6E1EC;
}

#restartGame {
    position: fixed;
    left: 0;
    top: 0;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 0.9;
    z-index: 1;
    width: 100%;
    display: none;
}